<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Personal</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Learn how to fold a shirt fast</string>
			<key>Notes</key>
			<string>http://youtu.be/uz6rjbw0ZA0</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Take 5Dynamics survey</string>
			<key>Notes</key>
			<string>http://5dynamics.com/</string>
		</dict>
	</array>
	<key>Coding</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Watch Sandi Metz on testing</string>
			<key>Notes</key>
			<string>http://www.confreaks.com/videos/2452-railsconf2013-the-magic-tricks-of-testing</string>
		</dict>
	</array>
</dict>
</plist>
